body{
    background-color: darkgray;
    text-align: center;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

a{
    color: d;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    color: crimson;
    text-decoration: line;
}

main{
    text-align: left;
    width: 95%;
    margin: 0 auto;
    max-width: 1200px;
}

h2{
    text-align: center;
}

figure {
    text-align: center;
    font-style: italic;
}

figure img{
    height: 300px;
}

/* Rule Overrides For Laptops / Small Screens */
@media screen and ( min-width: 981px ) and ( max-width: 1400px ) {
    #colorbox {
        background-color:yellow;
    }
}
/* Rule Overrides For Tablet Devices */
@media screen and ( min-width: 601px ) and ( max-width: 980px )  {
    #colorbox {
        background-color:orange;
    }
}
/* Rule Overrides For Mobile Devices */
@media screen and ( min-width: 370px ) and ( max-width: 600px ) {
    #colorbox {
        background-color:red;
    }
}