body{
    background-color: darkgray;
    text-align: center;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

a{
    color: d;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    color: crimson;
    text-decoration: line;
}

main{
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;

}

h2{
    text-align: center;
}

figure {
    text-align: center;
    font-style: italic;
}

figure img{
    height: 300px;
}