body{
    background-color: burlywood;
    text-align: center;
    color: black;
    font-family: 'Roboto', 'Arial', sans-serif;
}

a{
    color: brown;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    color: black;
    text-decoration: line;
}

main{
    text-align: center;
}

h2{
    text-align: center;
}

figure {
    text-align: center;
    font-style: italic;
}

figure img{
    height: 300px;
}