<nav>
    <a href="https://webpages.charlotte.edu/nknobla1/" target="_blank">Charlotte Webpages</a>
    ||
    <a href="https://github.com/nknobla1" target="_blank">Github</a>
    ||
    <a href="https://nknobla1.github.io/" target="_blank">Github.io</a>
    ||
    <a href="https://www.freecodecamp.org/nknobla1" target="_blank">freeCodeCamp</a>
    ||
    <a href="https://www.codecademy.com/profiles/nknobla1" target="_blank">Codecademy</a>
    ||
    <a href="https://www.linkedin.com/in/nicholas-knoblauch-b45412348/" target="_blank">LinkedIn</a>
</nav>
<p>Page Built By <a href="nickknoblauchdesigns.com/">Nick Knoblauch</a> &copy; 2025</p>
<a id="validation-button-html">
    <img src="images/htmlValidationButton.png" alt="html validation button">
</a>
<a id="validation-button-css">
    <img src="images/cssValidationButton.png" alt="css validation button">
</a>